.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test/**

# needed to include the .json files as raw in the extension
# as they can't be bundled into the js
!src/schemas/
!src/schemas/**/*.json
